.reveal .slide {
    font-size: 110%;
}

.title-slide {
    background-image: url('graphics/nationwide_241000.png');
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
    opacity: 0.6;
}

.title-slide h1,
.title-slide h2,
.title-slide h3 {
    color: #101010;
}

/* Optional if you want white text on custom background slides */
.white-text {
    color: white;
}

.white-title {
    color: white;
}

/* Adjust smaller titles if needed */
.white-title-small {
    color: white;
    font-size: 80%;
}
